/* portfolio/static/portfolio/css/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer, nav, main {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

nav a:hover {
    background-color: #555;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 2px solid #333;
}

/* Estilos para o botão "Exibir Descrição" */
.project-description {
    display: none;
}

.project-description.show-description {
    display: block;
}


h1 {
    color: #007bff;
    margin: 0;
    padding: 10px;
}
/* Estilos para os projetos */
.project {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
}

.project h2 {
    margin: 0;
}

.project p {
    margin-top: 10px;
}

.project img {
    max-width: 100%;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
